SistemaGestionEscolarFirst/WebContent/wsdl/Secretaria.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://StaffAdministracion.controlador" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://StaffAdministracion.controlador" xmlns:intf="http://StaffAdministracion.controlador" xmlns:tns1="http://Persona.controlador" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://StaffAdministracion.controlador" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://Persona.controlador"/>
   <element name="agregarNuevaSecretatia">
    <complexType>
     <sequence>
      <element name="nuevaPersona" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="agregarNuevaSecretatiaResponse">
    <complexType>
     <sequence>
      <element name="agregarNuevaSecretatiaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="agregarNuevaSecretatiaResponse">

      <wsdl:part element="impl:agregarNuevaSecretatiaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="agregarNuevaSecretatiaRequest">

      <wsdl:part element="impl:agregarNuevaSecretatia" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Secretaria">

      <wsdl:operation name="agregarNuevaSecretatia">

         <wsdl:input message="impl:agregarNuevaSecretatiaRequest" name="agregarNuevaSecretatiaRequest">

       </wsdl:input>

         <wsdl:output message="impl:agregarNuevaSecretatiaResponse" name="agregarNuevaSecretatiaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SecretariaSoapBinding" type="impl:Secretaria">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="agregarNuevaSecretatia">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="agregarNuevaSecretatiaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="agregarNuevaSecretatiaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SecretariaService">

      <wsdl:port binding="impl:SecretariaSoapBinding" name="Secretaria">

         <wsdlsoap:address location="http://localhost:8080/SistemaGestionEscolarFirst/services/Secretaria"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
